<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.firstbankdigitalbanking.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.firstbankdigitalbanking.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity android:exported="true"
            android:name="com.firstbankdigitalbanking.app.modules.accounts.ui.AccountsActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.firstbankdigitalbanking.app.modules.newpassword.ui.NewPasswordActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.firstbankdigitalbanking.app.modules.services.ui.ServicesActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.firstbankdigitalbanking.app.modules.otp.ui.OtpActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.firstbankdigitalbanking.app.modules.splashscreen.ui.SplashScreenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.firstbankdigitalbanking.app.modules.registers.ui.RegistersActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.firstbankdigitalbanking.app.modules.transactions.ui.TransactionsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.firstbankdigitalbanking.app.modules.loans.ui.LoansActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.firstbankdigitalbanking.app.modules.getstarted.ui.GetStartedActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.firstbankdigitalbanking.app.modules.home.ui.HomeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.firstbankdigitalbanking.app.modules.settingpreferencetabcontainer.ui.SettingPreferenceTabContainerActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.firstbankdigitalbanking.app.modules.forgotpassword.ui.ForgotPasswordActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.firstbankdigitalbanking.app.modules.login.ui.LoginActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.firstbankdigitalbanking.app.modules.investments.ui.InvestmentsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.firstbankdigitalbanking.app.modules.creditcards.ui.CreditCardsActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
